@font-face {
  font-family: League Gothic;
  src: url(../fonts/LeagueGothic.otf) format("opentype");
}

html {
    background-color: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#151515));
    background: -moz-linear-gradient(top,  #333,  #151515);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1 {
    color: #ccc;
    font: 8em League Gothic, helvetica, sans-serif;
    text-align: center;
    margin: 1em auto;
    padding: 0;
}
h1 span.first.name {
    color: #fff;
}
h1>span>span {
    display: inline-block;
    position: relative;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
}
